<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usjt">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Adapter"></activity>
        <activity android:name=".LatLongDBHelper" />
        <activity android:name=".LatLongDao" />
        <activity
            android:name=".LatLongCont"
            android:label="@string/title_activity_lat_long_cont"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LocaisViewHolder" />
        <activity android:name=".LocaisRecyclerViewAdapter" />
        <activity android:name=".ListaLocaisActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>